/*Base code*/
html {
  font-size: 62.5%;
}
header {
  top: 0px;
  background-color:#006445;
  font-size: 110px;
  color: white;
}
body {
  background-color: #004630;
  margin: 0%;
  font-family: 'Courier New', Courier, monospace;
  min-height: 100vh;
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 2em;
  background-color:#006445;
  color: white;
}
.inlog{
    margin-right: 5vw;
    float: right; 
    width: 110px;
    height: 45px;
    background-color:#b0bd36;
    border-radius: 20px;
    }

#Inlog_a { font-size: 2rem;

}

a {
      font-size: 4rem;
    }

/* inlogpagina*/
.form1{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-image:url("/img/images.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  
}
form{
  border: 5px solid;
  color: snow;
  font-size: large;
  margin: 25vh;
  background-color:#006445;
  opacity: 0.8;
  border-color: #b0bd36;
}
label{
  font-size: larger;
}
#sign_up{
align-content: center;
}
/* pagina 1 */
  table, th, td{
    border:1px solid black;
    }
#Nieuws { 
  border: 2px solid;
  height: 40vh;
  width: 15vw;
  border-radius: 20px;
  float: right;
  margin: 200px 50px 0px 0px;
}  
 /* Hier is de menu navigatie bar*/ 
li {
  border: solid 3px;
}

 a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

 .sidebar {
  display: flex;
  float: left;
  min-height:10px;
  height: 100vh;
  width: 20vw;
  position: absolute;
  left: 0;
  background-color: #ccc;
  transition: all .25s;
  z-index: 1;
}
.sidebar.collapsed {
      left: -309px;
      /* margin-right: -200px; */
    }
#mainmenu {
      position: absolute;
      left: 308px;
      height: 4em;
      width: 4em;
      background-color: #b0bd36;
      border-radius: 4px;
        }
nav {
      text-decoration: none;
    }


/*pagina 3*/
/* de sidebar menu */
.sidenav3 {
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 10%; /* Stay at the top */
  right: 0;
  background-color: snow; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav3 a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color:black;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav3 a:hover {
  color:blue;
}

/* Style page content */
.main3{
  text-align:left;
}
/*pagina 4*/
@media only screen and (min-width: 1501px){ 
  .container{
  display: flex;
  width: 1700px;
  height: 710px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}
}
@media only screen and (max-width: 1500px){
  .container{
    display: flex;
    width: 1450px;
    height: 498px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}
}
#p4{
  color: white;
}
