/*Base code*/
html {
  font-size: 62.5%;
}
header {
  top: 0px;
  background-color:#006445;
  font-size: 500%;
  color: white;
  text-align: center;
  max-width: 100vw;
}

body {
  background-color: #004630;
  margin: 0%;
  font-family: 'Courier New', Courier, monospace;
  min-height: 100vh;
  color: white;
}
footer{
  text-align: center;
  min-width:100vw;
  position:fixed;
  left:0px;
  bottom:0px;
  font-size:110%;
  background-color:#006445;
  color: white;
}
.inlog{
    margin:1vh 3vw 0 0;
    float: right; 
    width: 8vw;
    height: 5vh;
    background-color:#b0bd36;
    border-radius: 20px;
    position: fixed;
    right: 0;
    top: 0;
    }
ul {
  list-style-type: none;
}

#Inlog_a { 
  font-size: 2rem;

}

a {
      font-size: 4rem;
    }

/* inlogpagina*/
.form1{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-image:url("img/images.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  
}
form{
  border: 5px solid;
  color: snow;
  font-size: large;
  margin: 25vh;
  background-color:#006445;
  opacity: 0.8;
  border-color: #b0bd36;
}
label{
  font-size: larger;
}
#sign_up{
align-content: center;
}
/* pagina 1 */
#homeheader{
  font-size: 150%;
  height: 8vh;
  width: 100vw;
  position: fixed;
  padding-left: 5vw;
}

#hr_1 {
  color: #004630;
  background-color: #004630;
  border-color: #004630;
}

#body1{
  background-image: url("img/foto_homepagina.png");
  background-size: cover;
}

#Nieuws { 
  text-align: center;
  opacity: 0.8;
  background-color: #b0bd36;
  border: 2px solid #004630;
  height: 50vh;
  width: 18vw;
  border-radius: 20px;
  float: right;
  margin-top: 30vh;
  margin-right: 12vw;
}  
 /* Hier is de menu navigatie bar*/ 
.nav_li {
  background-color: lightblue;
  border: solid 3px;
  flex-direction: column;
  height: 18vh;
}

 a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #f1f1f1;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

 .sidebar {
  border: solid 3px;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  float: left;
  min-height:10px;
  height: 99vh;
  width: 19vw;
  left: 0;
  position: fixed;
  top: 0;
  background-color:#006445;
  transition: all .25s;
  z-index: 1;
}
.sidebar.collapsed {
      left: -309px;
    }
#mainmenu {
      position: absolute;
      left: 308px;
      height: 4em;
      width: 4em;
      background-color: #b0bd36;
      border-radius: 4px;
        }
nav {
      text-decoration: none;
    }

/*pagina 2*/
.pagina2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 11vh;
}
.a2{
  text-align: center;
}
/* .pagina_2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */
.border2{
  background-color: #b0bd36;
  border: solid 3px;
  border-color: #004630;
  text-align: center;
  vertical-align: center;
}
#body2{
  background-image: url(img/studenten_ouders.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.foto2{
  width: 20vw;
  height: 50vh;
  border: solid 5px;
  border-radius: 30px;
}
#foto2{
  width: 40vw;
  height: 50vh;
  border: solid 5px;
  border-radius: 120px;
}
/*pagina 3*/
/* de sidebar menu */
.sidenav3 {
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 10%; /* Stay at the top */
  right: 0;
  background-color: snow; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
.sidenav3 a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color:black;
  display: block;
}
.sidenav3 a:hover {
  color:blue;
}
.main3{
  text-align:left;
}
.textp3{
  max-width: 80vw;
  font-size: 300%;
}
.texth3{
  font-size: 500%;
}
.header3{
  width: 110vw;
}
.body3{
  padding: 1%;
  padding-right: 10%;
  max-width: 90vw;
  overflow-x: hidden;
}
.imgp3{
  height: 50vh;
  width: 50vw
}
#h1_3{
  color: snow;
}
/*pagina 4*/
  .container{

  
    display: flex;
    width: 1450px;
    height: 498px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
  }

#p4{
  color: white;
  font-size: 2em;
}
/* pagina 5 */
#body5 {
  /* background-image:url("img/sadsmiley.png") ;
  background-repeat: no-repeat;
  background-size: 60vh;
  background-position: center; */
}

#a5 {
  font-size: 10px;
}

#P5{
  font-size: 16rem;
  margin-top: 18rem;
}

#sadsmiley5 {
  height: 60vh;
}
#sec5{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2vh;
}
/*pagina 6 */
#foto3 {
  
}

.h1_6{
  padding: 1%;
  color:
  /* background-color: rgba(0, 1, 0.5, 0.5); */
}
.pagina6{
  background-image: url(img/Goed-gesprek.jpg);
  background-size: cover;
  background-blend-mode: overlay;
}
/* pagina 7 */
.section7{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  width: 99vw;
  height: 92vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
#yermaih{
  width: 30vw;
  height: 100%;
  align-content: left;
}
#embiya{
  width: 30vw;
  height: 100%;
  align-content: right;
}
#left7{
  align-items: left;
  font-size: 2em;
  width: 20vw;
  overflow-x: hidden;
  overflow-y: hidden;
}
#right7{
  font-size: 2em;
  width: 20vw;
  overflow-x: hidden;
  overflow-y: hidden;
}
/* *{
  border: solid 4px;
} */