.sidenav {
    width: 100px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: snow; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  .container {
    display: flex;
    min-height:10px;
    height: 97vh;
  }
  
  .sidebar {
    width: 20vw;
    position: relative;
    left: 0;
    background-color: #ccc;
    transition: all .25s;
  }
  
  
  .sidebar.collapsed {
    left: -1000px;
    margin-right: -200px;
  }
  a {
    font-size: 4rem;
  }
  #mainmenu {
    position: sticky;
    height: 4em;
    width: 4em;
  }
  nav {
    text-decoration: none;
  }

  
  /*inlog code*/
  .inlog{
  float: right;
  width: 110px;
  height: 45px;
  }
  p1{
    font-size: 25px;
  }
  header {
    position:sticky;
    top: 0px;
  }