/*Base code*/
html {
  font-size: 62.5%;
}
body {
  background-color: grey;
  margin: 0%;

}

footer {
  font-size: 2em;
}

  table, th, td{
    border:1px solid black;
    }
#Nieuws {
  display: flex;
  border: solid 5px;
  height: 40vh;
  width: 15vw;
}


    
    /* Hier is de menu navigatie bar*/

    
    .container {
      display: flex;
      min-height:10px;
      height: 97vh;
    }
    
    .sidebar {
      width: 20vw;
      position: relative;
      left: 0;
      background-color: #ccc;
      transition: all .25s;
    }
    
    
    .sidebar.collapsed {
      left: -1000px;
      margin-right: -200px;
    }
    a {
      font-size: 4rem;
    }
    #mainmenu {
      position: sticky;
      height: 4em;
      width: 4em;
    }
    nav {
      text-decoration: none;
    }

    
    /*inlog code*/
    .inlog{
    float: right;
    width: 110px;
    height: 45px;
    }
    p1{
      font-size: 25px;
    }
    header {
      position:sticky;
      top: 0px;
    }
    footer{
      font-size: 2em;
    }